<h1>
  Angular + WebSockets
</h1>
<br>
<div class="row">
  <div class="column">
    <mat-form-field class="example-full-width">
      <mat-label>Connection Url</mat-label>
      <input matInput [(ngModel)]="websocketsUrl" name="websocketsUrl" id="websocketsUrl"
             required/>
      <br>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="connect()">Connect</button>
  </div>
</div>
<div class="row">
  <div class="column">
    <textarea [(ngModel)]="content" name="contentInput" cols="40" rows="5"></textarea>
    <br>
    <button mat-raised-button color="primary" (click)="sendMsg()">Send Message</button>
  </div>
</div>
<br>
<div>
  <h1>Sent Messages</h1>
  <br>
  <ul>
    <li *ngFor="let item of sent">{{item.source}}: {{item.content}}</li>
  </ul>
</div>

<br>
<div>
  <h1>Received Messages</h1>
  <br>
  <ul>
    <li *ngFor="let item of received">{{item.source}}: {{item.content}}</li>
  </ul>
</div>
