<button mat-button [matMenuTriggerFor]="menu">Tools</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/timer']">Timer</button>
  <button mat-menu-item [routerLink]="['/chat']">Websocket chat</button>
</mat-menu>
