<mat-card class="example-card">
  <mat-card-content>
    <h2 class="example-h2">Result</h2>
    <circle-progress
      [percent]="currentValue"
      [radius]="100"
      [units]="'sec'"
      [maxPercent]="100"
      [title]="timerTitle + ''"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="start()">Start timer</button>
    <button mat-raised-button color="warn" (click)="stop()">Stop timer</button>
  </mat-card-actions>
</mat-card>

<form class="example-form">
  <p>
    <mat-form-field class="example-full-width">
      <mat-label>Seconds:</mat-label>
      <input matInput placeholder="Seconds" [(ngModel)]="timerSetValue" name="timerSetValue">
    </mat-form-field>
  </p>
</form>

